################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App_Data/SampleDb.mdf
/App_Data/SampleDb_log.ldf
/.vs/SampleApp/v15/Server/sqlite3
/.vs
